In [3]:
import numpy as np
import pandas as pd

In [4]:
# Mengubah beberapa data kedalam series pandas
labels = ['a','b','c'] # data labe;\ls
my_list = [10,20,30] # data list
arr = np.array([10,20,30]) # data array
d = {'a':10,'b':20,'c':30} # data Dictionary

In [5]:
# Mengubah labels ke series dan akan mempunyai index otomatis
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [6]:
# my_list adalah datanya sedangkan labels akan di jadikan index
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

In [7]:
# bisa juga menulis seperti ini
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [8]:
# Mengubah array numpy ke Series
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [9]:
# Mengubah dictionary ke series
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [10]:
# Membuat data series index kita bisas trntukan
data = pd.Series([1,2,3,4], index = ['INA', 'JPN', 'USA', 'RSA'])
data

INA    1
JPN    2
USA    3
RSA    4
dtype: int64

In [11]:
data['INA']

1

In [12]:
data2 = pd.Series([1,2,3,4],index = ['INA','JPN','RSA','IND'])
data2

INA    1
JPN    2
RSA    3
IND    4
dtype: int64

In [14]:
data + data2

INA    2.0
IND    NaN
JPN    4.0
RSA    7.0
USA    NaN
dtype: float64

In [ ]:
#